    <header
      class="masthead"
      style="background-image: url('/img/about-bg.jpg')"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto position-relative">
            <div class="site-heading">
              <h1>About Us</h1>
              <span class="subheading"
                >Gosman Sports and Convocation Center is a comprehensive sports
                arena located on the campus of Brandeis University in
                Massachusetts, USA.</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <p>
            Gosman Sports and Convocation Center opened in 1974 as a
            multi-purpose sports arena, used for indoor sports events such as
            basketball, volleyball, badminton, swimming, as well as various
            conferences and cultural performances.
          </p>
          <p>
            The mission of Gosman Sports and Convocation Center is to provide a
            place for students and community members to promote physical health,
            personal growth, and social interaction. The center encourages
            people to maintain a healthy lifestyle through various sports and
            fitness activities, develop leadership and teamwork skills, and
            welcomes people from all cultural backgrounds and interests to
            participate.
          </p>
          <p>
            The values of Gosman Sports and Convocation Center include:<br />Openness
            and inclusivity: The center welcomes people of all cultural
            backgrounds, genders, abilities, and beliefs, advocating equality,
            respect, and inclusivity.<br />Health and lifestyle: The center
            encourages people to maintain a healthy lifestyle through sports and
            fitness, enhancing the quality of life and happiness.<br />Teamwork
            and leadership: The center fosters leadership and teamwork skills
            through various sports and team activities, helping students and
            community members discover their potential and value.
          </p>
        </div>
      </div>
    </div>
    <hr />
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <span class="fa-stack fa-lg" style="color: #0b346c"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-twitter fa-stack-1x fa-inverse"></i
                ></span>
              </li>
              <li class="list-inline-item">
                <span class="fa-stack fa-lg" style="color: #0b346c"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-facebook fa-stack-1x fa-inverse"></i
                ></span>
              </li>
              <li class="list-inline-item">
                <span class="fa-stack fa-lg" style="color: #0b346c"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-github fa-stack-1x fa-inverse"></i
                ></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

