    <header
      class="masthead"
      style="background-image: url('/img/membership.jpg')"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto position-relative">
            <div class="post-heading">
              <h1>
                <strong
                  >The center offers different types of memberships to meet the
                  needs of its visitors.&nbsp;</strong
                >
              </h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <article>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">
            <p>
              Student Membership: This membership is available for current
              Brandeis University students and allows access to all the
              facilities at the center.
            </p>
            <p>
              Faculty/Staff Membership: This membership is available for
              Brandeis University faculty and staff members and allows access to
              all the facilities at the center.
            </p>
            <p>
              Community Membership: This membership is available for members of
              the local community and allows access to all the facilities at the
              center.
            </p>
          </div>
        </div>
      </div>
    </article>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <span class="fa-stack fa-lg" style="color: #0b346c"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-twitter fa-stack-1x fa-inverse"></i
                ></span>
              </li>
              <li class="list-inline-item">
                <span class="fa-stack fa-lg" style="color: #0b346c"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-facebook fa-stack-1x fa-inverse"></i
                ></span>
              </li>
              <li class="list-inline-item">
                <span class="fa-stack fa-lg" style="color: #0b346c"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-github fa-stack-1x fa-inverse"></i
                ></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
