<div class="w-75 m-auto">
    <form>
        <h2>Event Details</h2>
        <div class="form-floating mb-2">
            <div class="form-control"><%= contact.name %></div>
            <label for="inputName">Name</label>
        </div>
        <div class="form-floating mb-2">
            <div class="form-control"><%= contact.email %></div>
            <label for="inputEmail">email</label>
        </div>
        <div class="form-floating mb-2">
            <div class="form-control"><%= contact.title %></div>
            <label for="inputTitle">date</label>
        </div>
        <div class="form-floating mb-2">
            <div class="form-control"><%= contact.issue %></div>
            <label for="inputIssue">issue</label>
        </div>

    </form>
</div>



